html,
body {
	background-color: #1F2A32;
	color: #FAFAF5;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

a {
	color: #FAFAF5;
}


.container {
	margin: 0 auto;
	// padding: 0 15px;

	// width: 100%;
	max-width: 1200px;
}

.btn {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 5px;
	width: 214px;
	height: 52px;
	text-align: center;
	border-radius: 7px;
	background-color: #FFD479;
	color: black;

	&:hover,
	&:active {
		background-color: #fcc54e;

	}
}