.header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 750px;
	background-image: url('./../../img/header/hero-bg.jpg');

	width: 100%;
	padding-top: 29px;

	&-row {
		color: #ffff;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-nav {

		display: flex;
		gap: 46px;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 3px;

		a {
			transition: all 0.2s ease-in;

		}

		a:hover {
			opacity: 0.8;
			color: #FFD479;
		}


	}


	&-img {

		padding-top: 125px;
		text-align: right;
	}
}