.footer {
	padding-top: 70px;
	padding-left: 10px;

	&-content {
		margin-left: 10px;

	}


	&-socials {
		display: flex;
		gap: 50px;
		align-items: center;
	}

	&-contacts {
		display: flex;
		margin-top: 27px;
		gap: 53px;

	}

	&-contacts address {
		width: 242px;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 300;
		line-height: 28px;
		text-align: left;
	}

	&-contacts p {
		width: 292px;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 300;
		line-height: 28px;
		text-align: left;
	}
}